@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/*==================== GLOBAL STYLES ====================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
}

img {
    width: 100%;
}

.m-5 {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
}

.container {
    width: 80%;
    margin: auto;
}

.d-flex {
    display: flex;
}

.flex-col-center {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/*----- Fonts -----*/
.center {
    text-align: center;
}

.title {
    font-size: 2.81rem;
    font-weight: 700;
}

.subtitle {
    font-size: 1.25rem;
    font-weight: 600;
}

.para {
    font-size: 1rem;
    color: #727272;
}

/*----- Colors -----*/
.primary {
    color: #FF900E;
}

.dark1 {
    color: #131313;
}

.dark2 {
    color: #424242;
}

.dark3 {
    color: #727272;
}

/*----- Buttons -----*/
.primary-btn {
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    padding: 1.25rem 1.55rem;
    border: none;
}

/*==================== HEADER ====================*/
header {
    background: rgba(255, 144, 14, 0.1);
}

/*========== Navigation Bar ==========*/
#navbar {
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
}

#navbar ul {
    gap: 3rem;
}

#navbar ul li {
    list-style-type: none;
}

#navbar ul li a {
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
}

/*========== Banner ==========*/
.banner {
    padding: 2.81rem 0;
}

.banner .banner-desc {
    width: 80%;
    margin: auto;
}

.banner .banner-desc h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 75px;
}

.banner img {
    padding-top: 2.81rem;
}

/*========== Features ==========*/
#features-heading {
    gap: 4.5rem;
    align-items: center;
    justify-content: space-between;
}

#features-heading .img-container,
#features-heading .features-desc {
    flex: 1;
}

#features-heading .features-desc {
    align-items: flex-start;
}

#features-heading .img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

/*========== Features Cards ==========*/
#features .features-cards-container {
    flex-direction: row;
    gap: 5rem;
}

#features .features-cards-container .features-content {
    width: 40%;
}

#features .features-cards-container .features-content .features-desc h2 {
    border-left: 5px solid #FF900E;
    padding-left: 1.25rem;
}

/*==== Cards =====*/
.features-cards .card-item {
    padding: 1.875rem;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
}

/*==== Features Button =====*/
.features-cards-container .img-container {
    position: relative;
}

#features .btn-container {
    position: absolute;
    bottom: -2rem;
    left: -2rem;
}

#features .btn-container h6 {
    font-size: 2rem;
}


/*========== Facts ==========*/
#facts {
    align-items: normal;
}

#facts .facts-desc {
    align-items: flex-start;
    width: 50%;
}

#facts .facts-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7.5rem;
}

#facts .card-item {
    text-align: center;
    padding: 2.5rem;
    gap: 0.8rem;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
}


/*========== Sponsors ==========*/
#sponsors .sponsors-desc {
    width: 50%;
    text-align: center;
    margin: auto;
}
   
#sponsors .sponsors-brands {
    justify-content: space-between;
    margin: 3rem 0;
}

#sponsors .sponsors-brands img {
    filter: grayscale(100%);
}